
    <div class="entry-container">
        <section class="corpo">
        <div class="title"><h1>Pizzaria Bella Pizza</h1></div>
        <!-- <mat-card appearance="outlined"> -->
            
              <div class="history">
                <h1>História</h1>

                <p>
                    Bem-vindo à Pizzaria Bella Pizza! Desde 1995, temos o orgulho de servir pizzas deliciosas e inovadoras, feitas com ingredientes frescos e de alta qualidade. Nossa paixão pela pizza começou em uma pequena cozinha familiar e cresceu para se tornar um dos pontos favoritos da comunidade. Venha experimentar a nossa variedade de sabores e sinta a diferença em cada pedaço!
                </p>
            </div>  

        <!-- </mat-card> -->
        <footer>
            
        </footer>
    </section>
    </div>