h1 {
    text-align: center;
    color: white;
}

.container {
    margin: 2rem;
}

.form-categoria {
    margin-bottom: 2rem;
}

form {
    margin-top: 2rem;
}

mat-form-field {
    display: block;
}

mat-card-actions {
    padding-right: 1rem;
    padding-bottom: 1rem;
}